<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ShowContainers" value="False" />
		<add key="ShowContainerItems" value="False" />
		<add key="ShowShips" value="True" />
		<add key="LessShipInfo" value="False" />
		<add key="ShowShipStatus" value="True" />
		<add key="ShowTomes" value="True" />
		<add key="ShowPlayers" value="False" />
		<add key="HideFriendlyPlayers" value="False" />
		<add key="ShowPlayerTracelines" value="True" />
		<add key="ShowItemsOnShips" value="True" />
		<add key="ShowResourcesOnShips" value="True" />
		<add key="ShowCrews" value="False" />
		<add key="ShowOther" value="False" />
		<add key="ShowCompass" value="True" />
		<add key="ShowCrosshair" value="True" />
		<add key="ShowSkeletons" value="True" />
		<add key="ShowProjectiles" value="True" />
		<add key="ShowCannonTrajectoryPrediction" value="True" />
		<add key="ShowMapPins" value="True" />
		<add key="ShowMapLoot" value="True" />
		<add key="ShowMapShips" value="True" />
		<add key="TrackTreasureMapSpots" value="True" />
		<add key="TreasureMapIslandScaling" value="True" />
		<add key="TrackRiddleSpots" value="True" />
		<add key="TextSize" value="14" />
		<add key="FormsOverlay" value="True" />
		<add key="StartOverlayOnLaunch" value="True" />
		<add key="KeepIdleDisconnectDisabled" value="True" />
		<add key="ReadOffsetsFromMemory" value="False" />
		<add key="EnableKeybindings" value="False" />
		<add key="OverlayFPS" value="True" />
		<add key="SDKPath" value="" />
	</appSettings>
</configuration>